.user {
    display: flex;
    align-items: center;
}

.user-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.user-status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: green;
    margin-left: 15px;
}

.user-name {
    font-weight: bold;
}

.user-code {
    font-size: 14px;
    color: #ccc;
}

.logout-btn {
    padding: 3px 7px;
    color: white;
    background-color: #424855;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:focus {
    outline: none;
}

.logout-btn:active {
    background-color: #282c34;
}

.dropdown {
    position: relative;
}

.notification {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 0;
}