.side-bar {
    height: 100vh;
    background-color: #282C34;
    color: white;
    box-sizing: border-box;
    padding: 0 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.side-bar::-webkit-scrollbar {
    width: 5px;
}

.side-bar::-webkit-scrollbar-track {
    background-color: #282C34;
}

.side-bar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.user-container {
    padding: 20px 10px;
    position: fixed;
    background-color: #282C34;
    box-sizing: border-box;
}

.sidebar-contents {
    margin-top: 90px;
    padding: 0 10px;
}